body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.sj{
    color: orange;
}
.middle{
    display: flex;
    margin-bottom: 150px;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
    width: 80%;

}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 8px;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.sss{
 
    text-align: justify;
}
#sd{
    padding-right: 30px;
}
.saj{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exp{
    box-shadow: 10px 10px 40px gray;
    margin-left: 6%;
    margin-right: 6%;
    width: 40%;
}
.hi{
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.abc{
    padding-top: 60px;
    font-size: 30px;
}
.def{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#fg{
    border-left: 12px solid salmon;
}
#lm{
    border-left: 12px solid blue;
}
footer{
    text-align: center;
}
